<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hanju.restore-husky-hook</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/hanju/.git-hooks/restore-husky-hook.sh</string>
        <string>--scan</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>StandardOutPath</key>
    <string>/Users/hanju/.git-hooks/restore-husky-hook.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/hanju/.git-hooks/restore-husky-hook.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
